.heading{
    font-size: 70px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.info{
    font-size: 16px;
}

.image-setting{
   background-size: cover;
   min-height: 100%;
   min-width: 1024px;
     
   /* Set up proportionate scaling */
   width: 100%;
   height: auto;
     
   /* Set up positioning */
   position: fixed;

   opacity: 0.3;
   overflow-y: scroll;
}
