<div class="container">
  <div class="content">
    <h3>2019 October-current</h3>
    <p>Joined Prokarma Softech as Software Engineer, Working on Internal Projects.</p>
  </div>
  <div class="content">
    <h4>2019 May</h4>
    <p>Started working on my second project for details <a style="cursor: pointer;">click here</a> .</p>
  </div>
  <div class="content">
    <h4>2019 February</h4>
    <p>Got promoted to Programmer Analyst.</p>
  </div>
  <div class="content">
    <h4>2018 June</h4>
    <p>Started working on my first project for details <a style="cursor: pointer;">click here</a>.</p>
  </div>
  <div class="content">
    <h3>2018 February</h3>
    <p>Joined Cognixant Technology Solutions as Programmer Analyst Trainee, got trained on Advanced Java for 2 months at Pune CDC campus</p>
  </div>
  <div class="content">
    <h3>2017 May</h3>
    <p>Compleated Graduation from SCSVMV Demmed to be University with a GPA 8.54 (equivalent to 79.1%).</p>
  </div>
  <div class="content">
    <h3>2013 April</h3>
    <p>Compleated Intermediate Education/High School from Narayana Jr. College with 94% .</p>
  </div>
  <div class="content">
    <h3>2011 March</h3>
    <p>Compleated Schooling from Kendriya Vidyalaya with a CGPA of 7.4 (equivalent to 70.4%).</p>
  </div>
</div>