.progress{
    position: sticky;
    position: -webkit-sticky;
    top: 0vw;
    height: 1vw;
}
.progress-bar{
height: 1vw;
}
.btn{
    position: sticky;
    position: -webkit-sticky;
    top: 1vw;
}
