.container::after{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.2;
    content: url('../assets/images/pavan.jpg');
    /* content: linear-gradient(to bottom right, rgb(255, 255, 255) rgb(199, 199, 199)); */
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container{
    margin-top: 75px;
    max-height: 85vh;
    overflow-y: auto;
}

/* .navbar{
    position: sticky;
    position: -webkit-sticky;
} */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container::-webkit-scrollbar:vertical {
    width: 11px;
}

.container::-webkit-scrollbar:horizontal {
    height: 11px;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 2px solid white; should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: white;
  }