<div class="about-container">
  <span class="heading">About me!!!</span>
  <div class="content">
  <p>
    Hey I am Pavan Kumar, my full name in M H S Sri Venkata Pavan Kumar. 
    The first question many people ask me is what does "M H S" stand for in your name. That is a long story so let me tell you about my schooling,
    I have been to only 1 school in my life, I mean all the 10 grades in 1 school, <strong>Kendriya Vidyalaya</strong>. Long story short, I was the shortest in height
    in my school batch, I was average at studies in school as I liked to play around and was part of choir group. Was CCA (Co-curricular Activities) head for
    our house (a group division in school). I used to participate in debate competitioins, not praising myslef but i bagged many prizes
    at different levels in inter-school & intra-school competitions. I was also part of commanding sometimes. Finally I passed my schooling with a <strong>B2 grade (7.4 CGPA)</strong>.
  </p>
  <p>
    Enough about my schooling, let me tell you about my higher secondary education at SLN Jr. College (1<sup>st</sup> year) & Naraya Jr. College (2<sup>nd</sup> year),
     this was the phase where I truly concentrated on my education, I love physics even today, I was ok in math and chemistry.
     I used to spend more time on physics because I used to understand that as it was
    practical and I could relate to it in my day to day life events. Finally I finished my higher secondary education with a <strong>percentage of 94.1</strong>.
  </p>
  <p>
    Here comes Engineering into my life, just like most of the Indians I too chose Engineering, but Mechanical as specialization.
    In my 2<sup>nd</sup> Year of my graduation, I initiated a club (Tech-Tonic) though I could not organize it successfully, but that
    failed attempt taught me so much about leadership, starting something requires so much of patience and preservence,
    which this generation has lost totally (not all but many), because we want everything to be instant, we were not educated that the growth
    of Universe that we see in the present day is result of uncountable years. Philosophical talk aside. The fun part was I made 
    good friends for life here. Finally In campus placements I got placed In <strong>Cognizant Technology Solutions</strong>.
  </p>
  </div>
</div>